@model Fast.Web.Models.CustomerListModel
@using Fast.Web.Resources;
@using Newtonsoft.Json;

@{ 
    var districts = Model.Customers.Select(x => x.dati_II).Distinct().ToList();
}

@section Styles{
    <link href="~/Content/dashforge/assets/css/dashforge.css" rel="stylesheet">

    <style>
    </style>
}

<div class="content content-fixed content-auth-alt pd-0-f">
    <div class="container-fluid ht-100p tx-center pd-0-f">
        <div class="ht-100p d-flex flex-column">
            <div class="row">
                <div class="col-10">
                    <div id="map" style="min-height:600px"></div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div><!-- container -->
</div><!-- content -->

@section Scripts{
    <script src="~/Content/theme/js/jquery-1.10.0.min.js"></script>
    <script src="~/Content/dashforge/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpjc1xdCmFJ6pptU_NVA54Cjpi_kqFaEU&callback=initMap" async defer></script>

    <script type="text/javascript">
        var allcusts = @(Html.Raw((JsonConvert.SerializeObject(Model.Customers)).Replace("\n", "").Replace("\r", "").Replace("\t", "").Replace(" \"", "\"").Replace(" \"", "\"").Replace(" \"", "\"").Replace(" \"", "\"").Replace(" \"", "\"").Replace(" \"", "\"").Replace(" \"", "\"").Replace(" \"", "\"")));


        var map; var marker;

        function initMap() {
            var geocoder = new google.maps.Geocoder();

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 10
            });

            geocoder.geocode({'address': "@(Model.Customers[0].dati_II) indonesia"}, function(results, status) {
                if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

            /*
            function addEventDrop(marker) {
                google.maps.event.addListener(marker, "dragend", function(event) { 
                    var lat = event.latLng.lat(); 
                    var lng = event.latLng.lng(); 

                    console.log(lat + ' , ' + lng);
                    console.log(marker.get('customer_code'));
                });
            }

            for (var i = 0, allcust; allcust = allcusts[i]; i++) {
                var locat = new google.maps.LatLng(allcust.geographical_x, allcust.geographical_y);
                marker = new google.maps.Marker({
                    position: locat,
                    draggable:true,
                    //animation: google.maps.Animation.DROP,
                    map: map,

                    customer_code: allcust.customer_code
                });

                addEventDrop(marker);
            }
            */

            map.data.loadGeoJson(
                  'https://storage.googleapis.com/mapsdevsite/json/google.json');
            }
        }




            /*
            function addMarker(allcust) {
                //var icon = mapIcon[allcust.cust_seg_type.toUpperCase().trim().replace(/\W/g, '')+"_"+allcust.cluster.toUpperCase().trim().replace(/\W/g, '')];

                var html = "<div class='leaflet-popup-content-wrapper'><div class='leaflet-popup-content' style='width: 175px;'><div class='popup-content'><h2>"+allcust.customer_code+"</h2><div class='popup-main-content'><span>"+allcust.teritorry+"</span><h3>"+allcust.customer_name+"</h3><p>"+allcust.customer_address+"</p></div><div class='link'><a href='#'>"+allcust.cluster+"</a></div></div></div></div>";
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(allcust.geographical_x, allcust.geographical_y),
                    //icon: icon,
                    map: map,
                    title: allcust.customer_code,
                    html: html
                });
            }

            for (var i = 0, allcust; allcust = allcusts[i]; i++) {
                addMarker(allcust);
            }
            */

        $(document).ready(function () {
        });
    </script>
}