@model Fast.Web.Models.ApprovalListModel
@using Fast.Web.Resources;

@section Styles{
    <link href="~/Content/dashforge/assets/css/dashforge.css" rel="stylesheet">

    <style>
    </style>
}

<div class="content content-fixed content-auth-alt pd-0-f">
    <div class="container-fluid ht-100p pd-0-f">
        <div class="ht-100p d-flex flex-column">
            <div class="row">
                <div class="col-10">
                    <div id="map" style="min-height:500px"></div>
                </div>
                <div class="col-2">
                    <br>
                    Use Ctrl+click to select multiple markers, or
                    click some point to draw shape around markers to select them.
                    <br><br>

                    Selected markers:
                    <div class="form-group">
                        <textarea id="selected_markers" class="form-control" rows="3"></textarea>
                    </div>

                    Place to territory:
                    @foreach (var teri in territories)
                    {
                        <div class="custom-control custom-radio" style="background-color: #@(colors["color"+counter]);padding: 5px 2rem;">
                            <input type="radio" name="territory" id="@(teri)" value="@(counter++)" class="custom-control-input">
                            <label class="custom-control-label" for="@(teri)">@teri</label>
                        </div>
                    }

                    <div class="row pd-20">
                        <button type="button" class="btn btn-danger col-6" onclick="clearSelection()">Reset</button>
                        <button type="button" class="btn btn-primary col-6" onclick="applySelection()">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container -->
</div><!-- content -->

@section Scripts{
    <script src="~/Content/theme/js/jquery-1.10.0.min.js"></script>
    <script src="~/Content/dashforge/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}