<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" href="~/Content/theme/images/favicon.ico" type="image/x-icon">
    <title>POC Chanif</title>

    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="navbar navbar-header navbar-header-fixed">
        <div class="navbar-brand">
            <a href="/" class="df-logo">Field<span>IQ</span></a>
        </div><!-- navbar-brand -->
        <div id="navbarMenu" class="navbar-menu-wrapper">
            <ul class="nav navbar-menu">
                <li class="nav-item"><a href="/" class="nav-link"><i data-feather="box"></i> Home</a></li>
                <li class="nav-item"><a href="/Approval" class="nav-link"><i data-feather="box"></i> Approval</a></li>
                <li class="nav-item"><a href="/Route" class="nav-link"><i data-feather="box"></i> Define Routes</a></li>
                <li class="nav-item"><a href="/Route/Direction" class="nav-link"><i data-feather="box"></i> Dirrection</a></li>
            </ul>
        </div><!-- navbar-menu-wrapper -->

    </header><!-- navbar -->


    @RenderBody()

    <footer class="footer">
        <div>
            <span>© 2019 GBU.co.id </span>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
